<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Optical Oasis</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<div style="text-align: center; justify-content: center">
    <h1 style="font-size: xxx-large; margin-top: 100px; text-align: center">Welcome to Optical Oasis</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Hasselblad_500_CM.jpg/300px-Hasselblad_500_CM.jpg"></img><br><br>
    <div style="width: 750px; text-align: justify; margin-left: auto; margin-right: auto"><h3>About <small class="text-body-secondary">Optical Oasis</small></h3>
        <hr>
        <p>Welcome to Optical Oasis, where our family's passion for impeccable visual experiences has been the cornerstone of our business for 75 years. As a family-owned enterprise, we've built a legacy that transcends the ordinary, offering not just products, but a vision that connects people across the globe.</p>

        <p>Proudly veteran-friendly, we extend a special welcome to those who have served, sharing in the spirit of dedication and excellence. Our journey, deeply rooted in the heart of Texas with physical locations in Austin and Dallas, is a testament to our enduring commitment to quality and service.</p>

        <p>In the digital era, our reach knows no bounds. Optical Oasis has embraced the online marketplace, ensuring that our exceptional range of cameras is just a click away, no matter where you are in the world. We don't just ship cameras; we deliver windows to new perspectives, tools for creativity, and gateways to capturing life's most precious moments.</p>

        <p>Our promise to you is more than just customer satisfaction; it's a guarantee that every interaction with us will enhance your view of the world. Whether you're a professional photographer or a passionate hobbyist, Optical Oasis is here to bring your vision into focus.</p>

        <p>Join us in celebrating a legacy of excellence and a future framed in perfect shots and unforgettable memories.<br><br><br>
        <h3>Contact <small class="text-body-secondary">Optical Oasis</small></h3>
        <hr>
        <p>If you have any questions or need assistance, feel free to reach out to us.</p>
        <h4>Our Locations</h4>
        <p><strong>Austin:</strong><br>
            1234 Lens St.<br>
            Austin, TX <br>
            <strong>Tel:</strong> (512) 123-4567<br>
            Mon-Sat: 9 AM - 5 PM</p>
        <p><strong>Dallas:</strong><br>
            1234 Flash Dr.<br>
            Dallas, TX<br>
            <strong>Tel:</strong> (214) 123-4567<br>
            Mon-Sat: 9 AM - 5 PM<br></p>
        <p><br><h4>Drop us a note</h4>
        We promise to get back to you in 48 hours or less!<br>
        <a href="mailto:help@opticaloasisshop.com"><strong>help@opticaloasisshop.com</strong></a></p>


    </div>
    <br><br>

    <div style="margin-bottom: 50px"><a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Back to the Mainscreen</a>
    </div>
    <hr>

</div>
</body>

<footer style="margin: 50px">
    <p>Image used:</p>
    <ol>
        <li>
            <a href="https://en.wikipedia.org/wiki/Hasselblad_500_C/M">Hasselblad 500 CM - Wikipedia</a>
            <span> (Last accessed on November 21, 2023, from Wikepedia) </span>
        </li>
    </ol>
</footer>
</html>